/* Selectores*/
h1{
    color: green;
    background-color: aqua;
    text-align: center;
}

.titulo {
    color: red;
    font-size: 30px;
    background-color: aquamarine;
}

#titulo_huawei {
    color: blueviolet;
}

#div_temas {
    display: none !important;
}