/* Selectores*/
:root {
    font-size: 20px;
}

h1{
    color: green;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    font-family: 'Nabla', cursive;
    
}

h2{
    font-family: 'Oswald', sans-serif;
}

/*h1[role="titulo"]{
    color: black;
}

.titulo {
    color: red;
    font-size: 30px;
    background-color: aquamarine;
}

#titulo_huawei {
    color: blueviolet;
}*/

#div_temas {
    display: none !important;
}

.product_cell {
    border: 2px solid aqua; 
                        border-radius: 10px;
                         padding: 10px;
                          margin: 20px;
}
.product_cell:hover{
    border: 3px dashed rebeccapurple;
    box-shadow: 0px 0px 10px red;
    cursor: grab;
}

.product_cell:hover > img{
    opacity: 50%;
    border: 4px solid black;
}

.laptop > h2 {
    color: blanchedalmond;
}

.laptop > h2::before {
    content: "💻 ";
}

.laptop > h3 {
    color: rgb(119, 23, 221);
    text-align: right;
    padding-right: 10px;
}

.celular > h2 {
    color: rgb(189, 72, 8);
}

.celular > h2::before {
    content: "📱 ";
}

.celular > h3 {
    color: rgb(122, 38, 10);
    text-align: right;
    padding-right: 10px;
}

.audifonos > h2 {
    color: rgb(28, 143, 59);
}

.audifonos > h2::before {
    content: "🎧 ";
}

.audifonos > h3 {
    color: aqua;
    text-align: right;
    padding-right: 10px;
}
/*.big_table{
    font-size: 20px;
    border: 1px solid #ccc;
}

.big_table th, td {
    padding: 10px;
}*/
.div_form {
    width: 400px;
    margin: 20px auto;
}

.div_form > form > input{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 70%;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}

.div_form > form > input:focus {
    border: 1px solid blue;
}

.div_form > form > button {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 28%; 
    outline: none;
}

.div_form > form > button:hover {
    background-color: #777;
    border: none;
    color: #fff;
    cursor: pointer;
}

.div_form > form > button:focus {
    border: 2px solid red;
}

.price::before{
    content: "$ ";
    font-size: 12px;
}

.price::after{
    content: ".00 ";
    font-size: 12px;
}